<h3><%= @user.username %></h3>

<ul>
  <li>
    <label>Contact details: </label>
    <%= @user.email %>
  </li>
  <li>
    <label>Available products: </label>
    <ul>
      <% @user.products.each do |product| %>
        <li><a href="/products/<%= product.id %>"><%= product.name %>: <%= product.quantity %> <%= product.unit %></a></li>
      <% end %>
    </ul>
  </li>
</ul>
