<br>

<label> Product Name: </label>
<%= @product.name %>
<br><br>

<label> Quantity: </label>
<%= @product.quantity %> <%= @product.unit %>
<br><br>

<label>Product seller: </label>
<a href="/users/<%= @product.user.slug %>"><%= @product.user.username %></a>
<br><br>

<button><a href="/products/<%= @product.id %>/edit">Edit product</a></button>

<form action="/products/<%= @product.id %>" method="post">
  <input id="hidden" type="hidden" name="method_" value="delete">
  <input type="submit" value="Delete product">
</form>
