<label> Product Name: </label>
<%= @product.name %>
<br><br>

<label> Quantity: </label>
<%= @product.quantity %>
<br><br>

<label> Unit: </label>
<%= @product.unit %>
<br><br>

<button><a href="/products/<%= @product.id %>/edit">Edit product</a></button>

<form action="/products/<%= @product.id %>" method="post">
  <input id="hidden" type="hidden" name="method_" value="delete">
  <input type="submit" value="Delete product">
</form>
