<label> Product Name: </label>
<%= @product.name %>
<br><br>

<label> Quantity: </label>
<%= @product.quantity %>
<br><br>

<label> Unit: </label>
<%= @product.unit %>
<br><br>

<form action="/products/<%= @product.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Edit product">
</form>

<form action="/products/<%= @product.id %>" method="post">
  <input id="hidden" type="hidden" name="method_" value="delete">
  <input type="submit" value="Delete product">
</form>
